<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @app.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @app.rating %>
</p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @app.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @app.link %>
</p>

<p>
  <strong>Rating count:</strong>
  <%= @app.rating_count %>
</p>

<p>
  <strong>Price:</strong>
  <%= @app.price %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
